.App-logo img {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 60px;
  width: 60px;
  padding-left: 1px;
  padding-right: 10px;
  float: left;
  display: none;
}

.App-header {
  height: 40px;
  padding: 5px 5px 0 5px;
  margin: 0;
}

.fullHeightCapture {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.field {
  width: 78px;
  height: 68px;
  border: #222 1px solid;
}
.field table {
  width: 100%;
  height: 100%;
}
.field .capture {
  width: 100%;
  font-size: 1.6em;
}
.field .teamCount {
  font-weight: bold;
}
.field .material-icons {
  font-size: 1.2em;
  text-align: left;
  padding: 6px 1px 0 3px;
}

.grid {
  position: relative;
  margin: 5px auto 0;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
