.App-logo img {
  height: 200px;
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  float: left;
}

.App-header {
  height: 180px;
  padding: 5px 5px 0 5px;
  margin: 0;
}

.App-timer {
  font-size: 45px;
  padding: 40px 0 0 0;
}

.Tournament-timer {
  font-size: 50px;
  position: absolute;
  bottom: 35px;
  right: 50px;
  text-align: right;
}

.fullHeightCapture {
  text-align: center;
  padding-top: 20px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.field {
  width: 78px;
  height: 68px;
  border: #222 1px solid;
}
.field table {
  width: 100%;
  height: 100%;
}
.field .capture {
  width: 100%;
  font-size: 1.6em;
}
.field .teamCount {
  font-weight: bold;
}
.field .material-icons {
  font-size: 1.2em;
  text-align: left;
  color: #555;
  padding: 6px 1px 0 3px;
}

.grid {
  position: relative;
  margin: 5px auto 0;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
}

.simpleGrid {
  margin: -20px 30px 0 0;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
